archived_moderator/*
moderator_env/*
*/__pycache__/*
*.pyc
*.log
nohup.out
test.sh
stable-diffusion-xl-base-1.0/*
moderator_conda/*
stable-diffusion-xl-base-1.0/

data/
files/
clip-vit-large-patch14/
CLIP-ViT-bigG-14-laion2B-39B-b160k/